
@media only screen and (min-width:340px) and (max-width:355px){
    #table{
       display: flex;
       flex-direction: column;
       width: 80%;
       margin-left: 0.9rem;
     
      
    }
    #box-btn{
        margin-left: 0.2rem;
    }
    #playerId{
        margin-left: 1rem;
    }
    #second{
        margin-left: -9rem;
        width: 100%;
    }
   
    #winner{
        margin-top: 1rem;
        left: 30%;
        position: absolute;
        top: 25%;
    }
    #player{
        margin-top:8rem;
        margin-left: 2rem;
    }
    .cardBox{
        top: 25rem;
    }
    .asasas{
        width: 10%;
    }
    .firstBox{
        width: 100%;
    }
    }
   @media screen and (max-width:450px) {
        #box-btn{
            margin-left: 3.6rem;
        }
        #playerId{
            margin-left: 2.9rem;
        }
        #main-div{
            width: 150%;
       
        }
      
        #third{
                top: 40rem;
        }
        #two{
            top: 60rem;
        }
        
    }

    @media screen and (min-width: 780px) and (max-width: 830px) {
        #box-btn{
            margin-left: 3.6rem;
        }
        #playerId{
            margin-left: 2.9rem;
        }
        #main-div{
            width: 150%;
       
        }
      
        #third{
                top: 55rem;
        }
        #two{
            top: 80rem;
            height: 60vh;
        }
        /* #tavle{
            margin-top: 85;
          } */
      
          #placeyourbetdiv{
            /* display: flex;
            flex-direction: column; */
           left: -10rem;
           top: 40rem;
          }
        
    }


  /*  @media only screen and (min-width: 425px) {
    
       
        #box-btn{
            margin-left: 4.6rem;
        }
        #playerId{
            margin-left: 2.9rem;
        }
    
       
      
    }

    @media screen and (min-width: 820px) {
       
    
        #table{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin-left: 0.9rem;
           
           
         }
         #playerId{
            margin-left: 4.5rem;
        }
     
        }



    @media screen and (min-width: 1024px) {
       
    
        #table{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin-left: 0.9rem;
           
           
         }
         #playerId{
            margin-left: 4.5rem;
        }
          #player{
           margin-top:8rem;
           margin-left: 2rem;
          }   
        }

        */
    @media screen and (min-width: 1440px){
     
#second{
    margin-left: 9rem;
}

#winner{
    margin-top: 10rem;
    left: 50%;
}
#player{
    margin-top:1rem;
    margin-left: 2rem;
}
.cardBox{
    top: 225rem;
}

 }



   /* @media screen and   (min-width:1440){
     
   

    #winner{
        margin-top: 10rem;
        left: 35rem;
    }
    #player{
        margin-top:1rem;
        margin-left: 2rem;
    }
    #playerCard{
        top: 105rem;
    }
    #playerCard2{
        top: 7rem;
        left: 2rem;
    }
    .firstBox{
        margin-top: 0rem;
    }
 
    .firstBox{
        margin-top: 50rem;
    }

     } */


#winner{
    margin-top: 1rem;
    position: absolute;
    left: 30%;
}