/* 3Cards-Teen-Patti */

@media screen and (min-width: 320px) {
  
    #abcde{
       height: 1rem;
       margin-bottom: 0.5rem;
    }
  
    #teenpattifreezeplacebettext{
      font-size: 0.7rem;
    
    }
    #playerA{
      margin-top: 10rem;
      margin-left: 4rem;
      font-size: 0.7rem;
      
  }
  
    #playerB{
        margin-left: 4rem;
        margin-bottom: 5rem;
        font-size: 0.7rem;
        
    }
    .players{
      margin-left: 1.5rem;
      margin-top: 0rem;
        
    }
  
    #outputbox{
        /* background-color: blue; */
        width: 95%;
        position: absolute;
        top: 39rem;
        justify-content: space-around;
        left: 0.5rem;
        margin-right: 0.5rem;
    }
  
    #teenpattimainimg{
        width: 20.4rem;
       right: 2.2rem;
       height: 15rem;
       margin-bottom: -5rem;
    /* background-color: red; */
    }
  
    #amountbox{
        
      width: 90%;
      /* background-color: yellow; */
      justify-content: space-around;
      position: absolute;
      top: 28rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 0rem;
         top: 32rem;
        /* background-color: black; */
        width: 20rem;  
    }
    
   
  }
  
  @media screen and (min-width: 375px){
    .players{
        margin-left: 7rem;
    }
  
    #outputbox{
        /* background-color: blue; */
        position: absolute;
        top: 40rem;
        justify-content: space-around;
        left: 0.01rem;
        margin-right: 0.8rem;
        width: 23.5rem;
    }
  
    #teenpattimainimg{
        width: 23.9rem;
       right: 2.2rem;
       height: 17.5rem;
       margin-bottom: -5rem;
    /* background-color: red; */
    }
  
    #amountbox{
        
      width: 95%;
      /* background-color: yellow; */
      justify-content: space-around;
      position: absolute;
      top: 30rem;
      left: 0.5rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 33rem;
        /* background-color: black; */
        width: 18rem;  
    }
  
  }
  @media screen and (min-width: 425px){
    .players{
        margin-left: 5rem;
    }
    #outputbox{
        /* background-color: blue; */
        position: absolute;
        top: 42rem;
       
        justify-content: space-around;
        left: 0.01rem;
        margin-right: 0.8rem;
        width: 26.5rem;
    }
  
    #teenpattimainimg{
        width: 27.1rem;
       right: 2.2rem;
       height: 20rem;
       margin-bottom: -5rem;
    /* background-color: red; */
    }
  
    #amountbox{
        
      width: 95%;
      /* background-color: yellow; */
      justify-content: space-around;
      position: absolute;
      top: 32rem;
      left: 0.5rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 35rem;
        /* background-color: black; */
        width: 21rem;  
    }
  }
  @media only screen and (min-width: 768px){
    
  
    .players{
        margin-left: 1rem;
    }
  
    #outputbox{
        /* background-color: blue; */
        position: absolute;
        top: 52rem;
        justify-content: space-around;
        left: 13rem;
        margin-right: rem;
        width: 35rem;
    }
  
    #teenpattimainimg{
        width: 36.2rem;
       right: 2.2rem;
       height: 27rem;
       margin-bottom: -5rem;
    /* background-color: red; */
    }
  
    #amountbox{
        
      width: 80%;
      /* background-color: yellow; */
      justify-content: space-around;
      position: absolute;
      top: 40rem;
      left: 11rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 44rem;
        /* background-color: black; */
        width: 25rem;  
    }
  }
  @media screen and (min-width: 1024px) {
  
    #playerA{
      margin-left: 10rem;
      margin-top: 15rem;
     font-size: 0.9rem; 
  }
  
    #playerB{
          margin-left: 10rem;
          margin-top: 0rem;
          font-size: 0.9rem;   
    }
    
    .players{
      margin-top: 0rem;
        margin-left: 1.8rem;
    }
  #outputbox{
    position: relative;
        /* background-color: blue; */
        top: 0.1rem;
        width: 40%;
        left: -1.5rem;
        height: 24.8rem;
       
    }
    #chooseamount{
        
        position: absolute;
        top: 38rem;
        left: 5rem;
    }
  
    #teenpattimainimg{
       height: 25rem;
       width: 36rem;
    /* background-color: red; */
    }
  
    #amountbox{
        position: absolute;
        top: 42rem;
      width: 50%;
      /* background-color: yellow; */
     
       
    }
  
    #playersbutton{
       
         
         position: absolute;
         top: 45rem;
         left: 5rem;
         width: 34rem;
        /* background-color: black; */
          
    }
  }
  @media screen and (min-width: 1440px) {
   
    .players{
        margin-left: 1.8rem;
    }
  #outputbox{
    position: relative;
        /* background-color: blue; */
        top: -1.2rem;
        width: 46%;
        height: 32rem;
       
    }
    #chooseamount{
        
        position: absolute;
        top: 39.2rem;
        left: 12rem;
    }
  
    #teenpattimainimg{
       height: 30rem;
       width: 40rem;
    /* background-color: red; */
    }
  
    #amountbox{
        position: absolute;
        top: 43rem;
        margin-left: 2rem;
      width: 45%;
      /* background-color: yellow; */ 
    }
  
    #playersbutton{
       
         
         position: absolute;
         top: 46rem;
         left: 12rem;
         width: 39rem;
        /* background-color: black; */
          
    }
  }