@media screen and (max-width: 380px) {
  .gapdragontigerlion {
    gap: 4.3rem; /* Adjust the gap value as per your requirement */
  }
}


@media screen and (max-width: 400px)  and (min-width:380px){
  .gapdragontigerlion {
    gap: 4.7rem; /* Adjust the gap value as per your requirement */
  }
}
@media screen and (max-width: 409px) and (min-width: 400px) {
  .gapdragontigerlion {
    gap: 5rem; /* Adjust the gap value as per your requirement */
  }
}


@media screen and (max-width: 420px) and (min-width: 410px) {
  .gapdragontigerlion {
    gap: 5rem; /* Adjust the gap value as per your requirement */
  }
}
